/* src/components/BookList.css */
.book-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .book-single{
    min-width: 211px;
    min-height: 398px;
    max-width: 100%;
    max-height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
  }  
  .book-item {
    margin: 10px;
    padding: 10px;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
    margin: 10px;
    max-height: 470px;
    min-height: 470px;
    min-width: 250px;
    max-width: 250px;
  }
  .book-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }