/* Estilos para el formulario de login */
.login-form {
    max-width: 400px;
    margin: 0; /* Remueve el margen automático */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    position: absolute; /* Posicionamiento absoluto respecto al viewport */
    top: 50%; /* Centrado vertical */
    left: 50%; /* Centrado horizontal */
    transform: translate(-50%, -50%); /* Ajusta el elemento precisamente al centro */
  }
  
  .login-form label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
  }
  
  .login-form input {
    min-width: 350px;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que padding no afecte el ancho total */
    margin-bottom: 16px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .login-form button:hover {
    background-color: #004494;
  }
  